<div class="new-body margined">


    <div class="box">
        <div class="imgBx">
            <a [routerLink]="['/cards/originals']"><img src="../../../assets/images/Original.png"></a>
        </div>
        <div class="content">
            <h2>Original<br><span>Editon</span></h2>
        </div>
    </div>
    <div class="box">
        <div class="imgBx">
            <a [routerLink]="['/cards/rom']"><img src="../../../assets/images/RoH.png"></a>
        </div>
        <div class="content">
            <h2>Realm of Heroes<br><span>Editon</span></h2>
        </div>
    </div>

    <div class="box">
        <div class="imgBx">
            <a [routerLink]="['/cards/stars']"><img src="../../../assets/images/SU.png"></a>
        </div>
        <div class="content">
            <h2>Stars Unleached<br><span>Editon</span></h2>
        </div>
    </div>

    </div>