<footer class="footer">
    <div class="container">

      <div class="footer-top">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="./assets/images/logo.svg" width="68" height="48" alt="NFTC Logo">
          </a>

          <p class="footer-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis non, fugit totam vel laboriosam vitae.
          </p>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <div name="logo-facebook"></div>
                <div name="logo-facebook"></div>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <div name="logo-twitter"></div>
                <div name="logo-twitter"></div>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <div name="logo-pinterest"></div>
                <div name="logo-pinterest"></div>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <div name="logo-discord"></div>
                <div name="logo-discord"></div>
              </a>
            </li>

          </ul>

        </div>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Useful Links</p>
          </li>

          <li>
            <a href="#" class="footer-link">All NFTs</a>
          </li>

          <li>
            <a href="#" class="footer-link">How It Works</a>
          </li>

          <li>
            <a href="#" class="footer-link">Create</a>
          </li>

          <li>
            <a href="#" class="footer-link">Explore</a>
          </li>

          <li>
            <a href="#" class="footer-link">Privacy & Terms</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Community</p>
          </li>

          <li>
            <a href="#" class="footer-link">Help Center</a>
          </li>

          <li>
            <a href="#" class="footer-link">Partners</a>
          </li>

          <li>
            <a href="#" class="footer-link">Suggestions</a>
          </li>

          <li>
            <a href="#" class="footer-link">Blog</a>
          </li>

          <li>
            <a href="#" class="footer-link">Newsletter</a>
          </li>

        </ul>

        <div class="footer-list">

          <p class="footer-list-title">Subscribe Us</p>

          <form action="" class="newsletter-form">
            <input type="email" name="email" placeholder="info@yourmail.com" required class="newsletter-input">


            <button type="submit" class="newsletter-btn" aria-label="Submit">
              <div name="paper-plane-outline"></div>
            </button>
          </form>

        </div>

      </div>

      <div class="footer-bottom">
        <p class="copyright">
          &copy; 2022 <a href="#" class="copyright-link">codewithsadee</a>. All Rights Reserved
        </p>
      </div>

    </div>
  </footer>
